{% extends "base.html" %}

{% block body %}
{% for registeredEmail in registeredEmailList %}
	Email: {{ registeredEmail.emailAddress }}
	<form action="/removeRegisteredEmail?emailAddress={{ registeredEmail.emailAddress|urlencode }}" method="post">
	<div><input type="submit" value="Remove"/></div>
	</form>
{% endfor %}

<form action="/addRegisteredEmail" method="post">
	Email: <input type="text" name="emailAddress"/><br/>
	<div><input type="submit" value="Add Email"/></div>
</form>

<form action="/spamAllRegisteredEmails" method="post">
	<div><input type="submit" value="Spam!"/></div>
</form>

{% endblock body %}
