
body {
    margin: 0px; padding: 0px;
    font-family: tahoma,sans-serif,arial,helvetica;
}

.padded {
    padding: 15px 25px;
}

.box {
    border: solid 1px #eaaeae;
}

#header {
    font-size: 24px;
    background: rgb(96,00,00);
    border-bottom: solid 2px #AED0EA
}

#header img {
    margin-left: -45px; 
    border: none;
}

.table {
  text-align: left;
}

.table th {
    padding: 0px 10px;
}

.table td {
    padding: 0px 10px;
}

.group_element {
    padding: 10px 0px;
}

.subgroup_element {
    padding: 0px 25px;
}

.message {
    border: solid 1px #DDD;
    padding: 5px;
}

.search {
    float: right;
}

.form {
    padding: 15px 25px;
}

.form td {
    padding-bottom: 5px;
}

.form td.spacer {
    padding-bottom: 5px;
}

.form tr td:first-child {
    padding-right: 10px;
    text-align: right;
    font-size: 18px;
}

input[type=text],input[type=password] {
    border: solid 1px #DDD;
    font-size: 18px;
    padding: 8px;
}

input[type=text]:focus,input[type=password]:focus {
    outline: none;
    border: solid 1px #AAA;
    background: #FCFCFC;
}

input[type=submit] {
    margin-top: 10px;
    border: solid 1px #AAA;
    font-size: 18px;
    padding: 5px;
}
