{% extends "base.html" %}

{% block body %}
<center>
<div style="width:500px; text-align:left;">
  <style>
    .removeLink{background-color:transparent; padding: 0px; border-width: 0; font-size: 0.7em; border-color:transparent; cursor: pointer; text-decoration:underline; color:#0000FF; }
  </style>
  <div id="wizardContent">
    <div>
      <b>404 - Not Found</b><br/>
      <span style="font-size: 0.8em;">
        Sorry!  The link you followed doesn't exist.
      </span><br/><br/>
    </div>
  </div>
</div>
</center>
{% endblock body %}
