{% extends "base.html" %}

{% block body %}

<center><div style="width: 678px; text-align: left;">
<img style="float:right" id="infoFlow" src="/static/img/InfoFlow.jpg"/>
<p><i>I'm OK!</i> is a web site and mobile app that allows you to tell your
friends and loved ones that you're OK in the event of an emergency.</p>

<p>In an urban disaster, cell phone networks are often overwhelmed as
everyone calls their family and friends to check on them.  But it
doesn't have to be that way -- text messages take only a fraction of the
bandwidth required for voice calls and often get through when voice calls
can't.  The <i>I'm OK!</i> app for your mobile phone helps you send a 
single &quot;I'm OK&quot; text message to our server, which then relays
the message to your friends and family.</p>

<p>The original version of <i>I'm OK!</i> won First Prize at the first 
<a href="http://www.rhok.org">Random Hacks of Kindness</a> codejam in
November 2009.

<p><b>For more information:</b></p>

<ul>
  <li><a href="/static/pdf/imok.pdf">Overview slides</a>
  <li><a href="http://groups.google.com/group/imok-users">User forum</a></li>
  <li><a href="/getInvolved">How you can get involved</a>
</ul>

</div></center>

{% endblock body %}
