{% extends "base.html" %}

{% block body %}
<center>
<div style="width:500px; text-align:left;">
	<style>
	.removeLink{background-color:transparent; padding: 0px; border-width: 0; font-size: 0.7em; border-color:transparent; cursor: pointer; text-decoration:underline; color:#0000FF; }

	</style>
	<div id="wizardContent">

		<div>
			<b>Verify Phone</b><br/>
			<span style="font-size: 0.8em;">
                        You should receive an 4-digit code in an SMS
			message.  Please type this code into the text
			box below.
                        </span><br/><br/>

			<form method="post" action="/phone/confirm"> 
                        <table class="profileForm"> 
			<tr>
                          <th><label for="id_code">Code:</label></th>
                          <td>
                            {% if errorlist %}
                            <ul class="errorlist">
                              {% for error in errorlist %}
                              <li>{{ error }}</li>
                              {% endfor %}
                            </ul>
                            {% endif %}
                            <input type="text" name="code"
                                   value="{{ code }}" id="id_code" size="6"
                                   maxlength="5" />
                          </td>
                        </tr> 
                        <tr>
                        </table> 
			<div class="nextButton"> 
				<input  type="submit" value="Confirm">
                                <a style="padding-left:10px" href="/home">Skip</a>
			</div> 
			</form> 
		</div>

	</div>

</div>
</center>
{% endblock body %}
