{% extends "base.html" %}

{% block body %}

<p><i>I'm OK!</i> is a web site and mobile app that allows you to tell your
friends and loved ones that you're OK in the event of an emergency
or disaster situation.</p>

<p><strong>NOTE:</strong> This web site is not yet ready for public use!</p>

<p>In an urban disaster, cell phone networks are often overwhelmed as
everyone calls their family and friends to check on them.  But it
doesn't have to be that way -- text messages take only a fraction of the
bandwidth required for voice calls, and they often get through when
voice calls can't.  When you run the <i>I'm OK!</i> app on your phone, it
helps you send a single &quot;I'm OK&quot; text message to our server,
which then relays the message to a list of your friends by e-mail.<p>

<p><i>I'm OK!</i> was originally developed as part of the
<a href="http://www.rhok.org">Random Hacks of Kindness</a> codejam.
You can learn more about the project by reading
<a href="/static/pdf/imok.pdf">these slides</a>.  You can post additional questions
to <a href="http://groups.google.com/group/imok-users">our user forum</a>.
Source code for this site and its mobile components are freely
available on Github:</p>

<ul>
  <li><a href="http://www.github.com/jeztek/imok_appengine">Server</a></li>
  <li><a href="http://github.com/jeztek/imok_blackberry">Blackberry Bold Client</a></li>
  <li><a href="http://www.github.com/jeztek/imok_android">Android Client</a></li>
  <li><a href="http://www.github.com/jeztek/imok_iphone">iPhone Client</a></li>
</ul>

{% endblock body %}
