{% extends "base.html" %}

{% block body %}

<h2>How you can get involved</h2>

<p><i>I'm OK!</i> is still at an early stage of development, so we
haven't yet figured out the best way to accept contributions from new
people.  If you have ideas, please post them to <a
href="http://groups.google.com/group/imok-users">our user forum</a>.</p>

<p>Source code for this site and its mobile components are freely
available on Github:</p>

<ul>
  <li><a href="http://github.com/jeztek/imok_appengine">App Engine Server</a></li>
  <li><a href="http://github.com/jeztek/imok_blackberry">Blackberry Bold Client</a></li>
  <li><a href="http://github.com/jeztek/imok_android">Android Client</a></li>
  <li><a href="http://github.com/jeztek/imok_iphone">iPhone Client</a></li>
</ul>

{% endblock body %}
