{% extends "base.html" %}

{% block head %}
<style type="text/css">

.homeWidgetTitle {
  font-weight: bold;
}

table.homeLayout {
  width: 100%;
}

td.homeLayout {
  width: 50%;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
}

table.messagePost {
  border-width: 1px;
}

table.messagePost th {
  font-weight: normal;
  font-style: italic;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}

table.messagePost td {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}

table.profileWidget {
}

table.profileWidget th {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: normal;
}

table.profileWidget td {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}

.widget {
  margin: 10px;
  padding: 10px;
}

.widgetTitle {
  border-bottom: 1px solid #777;
  font-weight: bold;
  font-size: 1.2em;
  padding: 5px 0px;
}
.widgetAction{
  margin-top: 5px;
  float: right;
  font-size: 0.8em;
  font-weight: normal;
}
.widgetItem{
  padding: 5px 0px;
}
.meta {
  font-size: 0.8em;
  color: #777;
}

.banner {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;

  padding: 15px;

  border: solid #aa0000 1px;
  background-color: #fff2f2;
  text-align: center;
}

.banner span {
  font-weight: bold;
  font-size: 1.2em;
}

</style>
{% endblock head %}

{% block body %}

{% if banner %}
<div class="banner"><span>{{ banner }}</span></div>
{% endif %}

<table class="homeLayout"><tr><td class="homeLayout">

<div class="widget">
<div class="widgetTitle">Profile
  <div class="widgetAction">
    <a href="/profile/edit">edit</a>
  </div>
</div>

<p>
<table class="profileWidget">
<tr>
  <th>Name:</th>
  <td>{{ profile.firstName}} {{profile.lastName }}</td>
</tr>
<tr>
  <th>Time zone:</th>
  <td>{{ profile.tz }}</td>
</tr>
{% for phone in phones %}
<tr>
  <th>Phone:</th>
  <td>{{ phone.number_str }}</td>
</tr>
{% endfor %}
</table>
</p>

</div>

<div class="widget">
<div class="widgetTitle">E-mail contacts
  <div class="widgetAction">
    <a href="/email">edit</a>
  </div>
</div>

<p>When you post an <i>I'm OK!</i> message, these people will
be notified by e-mail.</p>

<p>
{% if emails %}
  {% for email in emails %}
    <div style="padding-left: 20px;">{{ email.emailAddress }}{% if not forloop.last %},{% endif %}</div>
  {% endfor %}
  {% if numEmailsNotShown %}
    <div style="font-style: italic;">... and {{ numEmailsNotShown }} more not shown.</div>
  {% endif %}
{% else %}
  [No e-mail contacts set.]
{% endif %}
</p>
</div>

</td>
<td class="homeLayout">

<div class="widget">
<div class="widgetTitle">Recent messages you sent
  <div class="widgetAction">
    <a href="/posts/detail">details</a>
  </div>
</div>

{% if posts %}
<p>
{% for post in posts %}
  {{ post.asWidgetRow }}
{% endfor %}
</p>

{% if numPostsNotShown %}
  <p>Showing most recent {{ posts|length }} of {{ numPosts }} posts.</p>
{% endif %}

{% else %}
<p>[You haven't posted any messages yet]</p>
{% endif %}

</td></tr></table>
</div>

{% endblock body %}
