{% extends "base.html" %}

{% block head %}
<style>

body { font-family:arial; }
#superTitle {
  font-size: 24px;
  font-weight: bold;
}
#content {
  font-size: 16px;
  font-weight: normal;
  padding-top:10px;
}
#signup {
  background-image: url(signup.png);
  width: 280px;
  height: 302px;
  color: #fff;
  padding-top: 80px;
  padding-left: 20px;
}
.signupItem {
  padding:10px;
  font-weight:bold;
  font-size: 12px;
}
.signupItem input {
  font-size:16px;
  width: 240px;
  padding:5px;
}
#signupSubmit {
  text-align: right;
  padding-right: 30px;
  padding-top: 20px;
}
#signupSubmit input {
  font-size:16px;
  padding:5px;
}
</style>

{% endblock %}

{% block body %}

<table>
<tr>

<td valign="top" style="padding-top:15px; width: 30%;">
  <p>Downloads:
<ul>
  <li><a href="/download/blackberry-1.0.foo" class="biglink"><i>I'm OK!</i> app for Blackberry Bold, v1.0</a></li>
</ul></p>
</td>

<td valign="top" style="padding-top:15px">

<p><i>I'm OK!</i> is a web site and mobile app that allows you to tell your
friends and loved ones that you're OK in the event of an emergency
or disaster situation.</p>

<p><strong>NOTE:</strong> This web site is not yet ready for public use!</p>

<p>In an urban disaster, cell phone networks are often overwhelmed as
everyone calls their family and friends to check on them.  But it
doesn't have to be that way -- text messages take only a fraction of the
bandwidth required for voice calls, and they often get through when
voice calls can't.  When you run the <i>I'm OK!</i> app on your phone, it
helps you send a single &quot;I'm OK&quot; text message to our server,
which then relays the message to a list of your friends by e-mail.<p>

<p>The original prototype of <i>I'm OK!</i> won First Prize at the first <a
href="http://www.rhok.org">Random Hacks of Kindness</a> codejam in
November 2009.

<p><b>For more information</b></p>

<ul>
  <li><a href="/static/pdf/imok.pdf">Overview slides</a>
  <li><a href="http://groups.google.com/group/imok-users">User forum</a></li>
  <li><a href="/getInvolved">How you can get involved</a>
</ul>

<p><b>We are grateful for help from:</b></p>

<a href="http://www.rhok.org/"><img style="border: none;" src="/static/img/rhok_logo.png" width="143" height="59"/></a>
<a href="http://www.google.com/"><img style="border: none;" src="/static/img/google_logo.png" width="151" height="60"/></a>
<a href="http://www.nasa.gov/"><img style="border: none;" src="/static/img/nasa_logo.png" width="72" height="60"/></a>

</td>
</tr>

</table>

{% endblock body %}
