{% extends "base.html" %}

{% block body %}

<table>
<tr>

<td valign="top" style="padding-top:15px; width: 35%;">
  <p><a href="/home">Log in</a></p>

  <p><a href="/downloadBlackberry">Download <i>I'm OK</i> app for Blackberry Bold</a>
</td>

<td valign="top" style="padding-top:15px">

<p><i>I'm OK!</i> is a website and mobile app that allows you to tell your
friends and loved ones that you're OK in the event of an emergency
or disaster situation.</p>

<strong>NOTE:</strong>

<p>This website is not yet ready for public use.</p>

<p><i>I'm OK!</i> was rapidly developed as part of the
<a href="http://www.rhok.org">Random Hacks of Kindness</a> codejam.</p>

<p>You can learn more about this project and its goals by looking through
<a href="/static/imok.pdf">this</a> slide deck.  If you have any
additional questions, you can contact us at [imok AT jeztek.com].</p>

<p>Source code for this site and its mobile components are freely
available on Github:</p>

<ul>
  <li><a href="http://www.github.com/jeztek/imok">Website</a></li>
  <li><a href="http://www.github.com/jeztek/imok_android">Android</a></li>
  <li><a href="http://www.github.com/jeztek/imok_iphone">iPhone</li>
</ul>

</td>
</tr>

</table>

{% endblock body %}
