{% extends "base.html" %}

{% block head %}

    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAAFc3F2oO92IOeSdh20OvwRTIaxK6J1v0NBsI6tB269QU6Hg_LRSrbrOnRs7NAA_zH6sTW8fJ-5NpgQ&sensor=false"
            type="text/javascript"></script>
    <script type="text/javascript">
    function initialize() {
		if (GBrowserIsCompatible()) {
			var map = new GMap2(document.getElementById("map_canvas"));
			var point = new GLatLng({{lat}},{{lon}});//37.77493,-122.419416);
			map.setCenter(point, 12);
			map.setUIToDefault();

			map.addOverlay(new GMarker(point));

			map.setCenter(point, 11);	// This is the scale variable. This is slightly bigger than city scale.
			//map.openInfoWindow(map.getCenter(), document.createTextNode("Name: John Doe\n</br>Phone: 650-555-1212</br>"));
			//map.openInfoWindowHtml(map.getCenter(), "Name: John Doe</br>Phone: 650-555-1212</br>Needs: Evac, Electricity</br>Message: Nobody was hurt");
		}
    }

    </script>

{% endblock head %}

{% block bodyattrib %}
onload="initialize()" onunload="GUnload()"
{% endblock bodyattrib %}


{% block body %}
<style>
	#mapBox { background-color:#f1f2f2; margin-top: 1px; padding: 10px; border-top: 1px solid #ccc; }
</style>
<center>
<div style="width:640px; text-align:left;">
	{% include "messageInfo.html" %}
	<div id="mapBox">
    <div id="map_canvas" style="width: 620px; height: 440px"></div>
	</div>
</div>
</center>
{% endblock body %}
