{% extends "base.html" %}

{% block body %}
<center>
<div style="width:500px; text-align:left;">
	{% include "newUserNav.html" %}

	<style>
	.removeLink{background-color:transparent; padding: 0px; border-width: 0; font-size: 0.7em; border-color:transparent; cursor: pointer; text-decoration:underline; color:#0000FF; }

	</style>
	<div id="wizardContent">

		<div>
			<b>Add Contacts</b><br/>
			<span style="font-size: 0.8em;">Enter emails of people who you'd like to notify with I'm OK!</span><br/><br/>
			<form action="/email/add" method="post">
			<input type="text" value="email address" onclick="if (this.value == 'email address') {this.value = '';}" name="emailAddress"/>&nbsp;<input type="submit" value="Add"/><br>
			</form>
		</div>

		<div>
			<table>
			{% for registeredEmail in registeredEmailList %}
			<tr>
				<td>{{ registeredEmail.emailAddress }}</td>
				<td><form action="/email/remove?emailAddress={{ registeredEmail.emailAddress|urlencode }}" method="post">
				<input style="font-size: 0.9em; border-width: 0px;" class="removeLink" type="submit" value="Remove"/>
				</form></td>
			</tr>
			{% endfor %}
			</table>
		</div>
		<div class="nextButton">
			<input type="submit" value="Finish" onclick="document.location = '/home';">
		</div>
	</div>
</div>

</center>
{% endblock body %}
