{% extends "base.html" %}

{% block body %}
<p>{{ user.nickname }} [ <a href="{{ logout_url }}">Logout</a> ]</p>

{% if message %}<div class="message">{{ message }}</div>{% endif %}

<p>
We are going to verify this phone.  Press the "Send Code"
button to send a 4-digit code via SMS to your phone.  When you receive
it, type the code you received into the text box and click "Verify".
</p>

<form name="send_code" action="/phone/verify/send?id={{ id }}" method="post">
<input type="submit" name="send" value="Send Code" />
</form>

<br />

<form name="verify_code" action="/phone/verify/confirm?id={{ id }}" method="post">
<input type="text" name="code" value="" size="5" />
<input type="submit" name="verify" value="Verify" />
</form>

{% endblock body %}
