{% extends "base.html" %}

{% block body %}
<center>
  <div style="width:500px; text-align:left;">
    <style>
      .removeLink{background-color:transparent; padding: 0px; border-width: 0; font-size: 0.7em; border-color:transparent; cursor: pointer; text-decoration:underline; color:#0000FF; }
    </style>

    <div id="wizardContent">
      <div>
	<b>Verify Phone</b><br/><br/>
	<div class="newUserInstructions">
	  Your mobile phone must be verified before it can be used.
	  Press "Verify" to proceed.  A 4-digit code will be sent to
	  {{ phone.number_str }} within a few minutes.
          <br/><br/>
          You may skip this for now, but you <i>must</i> complete this step
	  before you can use you phone with this service.
	  <br/><br/>
        </div>

        <div class="nextButton">
          <form action="/phone/verify" method="post">
	    <div>
	      <input type="submit" name="verify"
                     value="Verify">
	      <input type="hidden" name="continue"
		     value="/phone/confirm">
	      <a style="padding-left:10px" href="/home">Skip</a>
	    </div>
          </form>
        </div>
      </div>
    </div>
</center>
{% endblock body %}
